<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              WHAT WE DO
            </h6>
            <p>
              empresa<br> 
              políticas de creación y crecimiento empresarial<br> 
              promoción, desarrollo y dinamización económica<br> 
              modernización de las empresas<br> 
              coordinación de la especialización inteligente<br> 
              internacionalización, atracción de inversión extranjera y proyectos estratégicos<br> 
              financiación y apoyo empresarial<br> 
              promoción del autoempleo y la cultura emprendedora<br> 
              gestión, fomento y difusión de los modelos de economía social y autoempleo, entre los que destacan las sociedades cooperativas, las sociedades laborales y los autónomos<br> 
              registros públicos de empresas y asociaciones empresariales de la economía social y del trabajo autónomo<br> 
              coordinación y gestión de la implantación de un sistema de gestión ética y socialmente responsable con la asunción del Sistema Balear de Responsabilidad Social Corporativa de Empresas<br> 
              comercio interior<br> 
              equipamientos comerciales<br> ferias<br> artesanía<br> cámaras de comercio<br> política de precios comerciales<br> 
              fomento en materia de comercio<br> casinos, juegos y apuestas.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              SERVICES
            </h6>
            <p>
              <a href="https://www.caib.es/govern/sac/fitxa.do?codi=5542954&coduo=57&lang=ca" class="text-reset">AUTÓNOMOS INICIO 2023 </a>
            </p>
            <p>
              <a href="https://www.caib.es/govern/sac/fitxa.do?codi=5628827&coduo=57&lang=es" class="text-reset">Ayudas para fomentar la cooperación empresarial </a>
            </p>
            <p>
              <a href="https://www.caib.es/govern/sac/fitxa.do?codi=5702737&coduo=57&lang=es" class="text-reset">Convocatoria de ayudas para dar fomento a la economía social</a>
            </p>
            <p>
              <a href="https://www.caib.es/govern/sac/fitxa.do?codi=5509323&coduo=57&lang=es" class="text-reset">Calendari de Fires i Mercats 2023 </a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
                <a href="https://www.caib.es/govern/organigrama/area.do?coduo=3026&lang=es" target="_blank" class="text-reset">Servicio de comercio</a>
            </p>
            <p>
                <a href="https://www.caib.es/govern/organigrama/area.do?coduo=3027&lang=es"  target="_blank" class="text-reset">Servicio de promoción empresarial</a>
            </p>
            <p>
                <a href="https://www.caib.es/govern/organigrama/area.do?coduo=2157&lang=es"  target="_blank" class="text-reset">Servicio de juego</a>
            </p>
            <p>
                <a href="https://www.caib.es/govern/organigrama/area.do?coduo=5213900&lang=es"  target="_blank" class="text-reset">Servicio de emprendimiento, economía social y circular</a>
            </p>
            <p>
                <a href="#!" class="icon-link icon-link-hover text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p>Plaça Son Castelló 1 (Polígon Son Castelló) - 07009 Palma</p>
            <p>info@pieib.com</p>
            <p>+ 971 178 900</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://www.caib.es/govern/organigrama/area.do?coduo=57&lang=es">Dirección General de Empresa, Autónomos y Comercio</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
