a {
    color: rgb(33, 37, 41);
    
    &:focus,
    &:hover {
        color: rgb(33, 37, 41);
        text-decoration: none;
        
        .card-title, .card-text {
            text-decoration: none;   
            color: rgb(204, 7, 60);
        }
    }
}

.img-fluid {
    width: 100% \9;
}

.card-grid {
    .card-wrapper {
        width: 33%;

        @media screen and (max-width: 991px) {
            width: 50%;
        }

        @media screen and (max-width: 767px) {
            width: 100%;
        }
        
        .card {
            display: block !important;
            height: 100%;
        }
    }
    
    .card-body {
        position: relative;   
    }
}

.new-badge {
    background-color: #df8;
    margin-right: -.25rem;
    padding: .5rem;
    position: absolute;
    right: 0;
    top: .25rem;
    
    .card-img-top + .card-body > & {
        top: -3.5rem;   
    }
}

:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
  }
  
  body {
    background: #111 !important;
  }
  
  .card {
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
  }
  
  .btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source:  var(--gradient) !important; 
    text-decoration: none;
    transition: all .4s ease;
  }
  
  .btn:hover, .btn:focus {
        background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
    border: 5px solid #fff !important; 
    box-shadow: #9e0c0c 1px 0 10px;
    text-decoration: underline;
  }