<div *ngIf="!contentRedServiciosEmpresariales" class="name">Un momento ...</div>

<div class="row container-red-servicios-empresariales">
    <h1 [innerHTML]="contentRedServiciosEmpresariales.title.rendered"></h1>
    <div [innerHTML]="contentRedServiciosEmpresariales.content.rendered" class=""></div>
    <h2 class="font-weight-light">Servicios públicos empresariales Baleares</h2>
    
    <div id="gallery" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
<!--        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button> -->
          </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col">
                        <a href=""><img class="img-fluid" src="http://via.placeholder.com/800x450/caa8f5/ffffff?text=IDI" alt="IDI"/></a>
                    </div>
                    <div class="col">
                        <a href=""><img class="img-fluid" src="http://via.placeholder.com/800x450/9984d4/ffffff?text=AJE+Balears" alt="AJE Balears"/></a>
                    </div>
                    <div class="col">
                        <a href=""><img class="img-fluid" src="http://via.placeholder.com/800x450/592e83/ffffff?text=CAEB" alt="CAEB"/></a>
                    </div>
                    <div class="col">
                        <a href=""><img class="img-fluid" src="http://via.placeholder.com/800x450/230c33/ffffff?text=Cambra+de+Comerç+Mallorca" alt="Cambra de Comerç Mallorca"/></a>
                    </div>
                    <div class="col">
                        <a href=""><img class="img-fluid" src="http://via.placeholder.com/800x450/b27c66/ffffff?text=Cambra+de+Comerç+Eivissa+i+Formentera" alt="Cambra de Comerç Eivissa i Formentera"/></a>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <a href=""><img class="img-fluid" src="http://via.placeholder.com/800x450/f35b04/ffffff?text=ISBA+SGR" alt="ISBA SGR"/></a>
                    </div>
                    <div class="col">
                        <a href=""><img class="img-fluid" src="http://via.placeholder.com/800x450/f18701/ffffff?text=Image+7" alt="Image 7"/></a>
                    </div>
                    <div class="col">
                        <a href=""><img class="img-fluid" src="http://via.placeholder.com/800x450/f7b801/ffffff?text=Image+8" alt="Image 8"/></a>
                    </div>
                    <div class="col">
                        <a href=""><img class="img-fluid" src="http://via.placeholder.com/800x450/7678ed/ffffff?text=Image+9" alt="Image 9"/></a>
                    </div>
                    <div class="col">
                        <a href=""><img class="img-fluid" src="http://via.placeholder.com/800x450/3d348b/ffffff?text=Image+10" alt="Image 10"/></a>
                    </div>
                </div>
            </div>
        </div>
        
       <!--  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button> -->

    </div>

</div>   



<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>-->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>  -->